.collection {
    background-image: url('../../img/bg.png');
    background-position: center;
    background-size: cover;
    padding: 50px 0;

    .content {
        margin-bottom: 30px;
        gap: 20px;

        img {
            width: 50px;
        }

        h3 {
            color: $bg-primary;
        }
    }

    p {
        margin-bottom: 20px;
        color: #FFF;
        line-height: 1.4;
    }

    a {
        background: #EEDB6D;
        border: #EEDB6D;
        color: $text-color-primary;
        max-width: 300px;
        margin: 0 auto;
    }
}