.footer {
    padding: 20px 0;
    background: $bg-secondary;

    .footer-row {
        justify-content: center;
        row-gap: 1.25rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        row-gap: 0.3125rem;
        margin-top: -9px;

        >* {
            text-align: center;
        }

        img {
            width: 100%;
            max-width: 136px;
        }

        p:last-child {
            margin-top: 8px;
            color: $text-grey;
            line-height: 1.5;
        }
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        row-gap: 0.3125rem;

        >* {
            text-align: center;
        }

        p {
            font-size: 1.25rem;
        }

        a {
            text-decoration: none;
            color: $text-grey;
            line-height: 1.5;
        }
    }

    .socials {
        display: flex;
        justify-content: center;
        column-gap: 1.875rem;
        margin-bottom: 10px;
        padding-top: 20px;
        border-top: 1px solid #C3D1C6;

        img {
            width: 20px;
        }
    }

    .copyright {
        color: $text-grey;
        font-size: 0.75rem;
        text-align: center;
    }
}