* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg-primary;
    color: $text-color-primary;
    font-size: 16px;
    line-height: 1.15;
}

button:focus:not(:focus-visible) {
    outline: none;
}

section {
    margin-top: 60px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    font-size: 1.875rem;
    line-height: 1;
}

h2,
h3 {
    font-size: 1.5rem;
}

.baton {
    // padding: 4.6vw 9.3vw;
    padding: 15px 30px;
    font-size: 1.125rem;
    color: $text-green;
    border: 1px solid $text-green;
    text-decoration: none;
}
