.intro {
    .row {
        column-gap: 0.375rem;

        img {
            width: 34vw;
        }

        h1 {
            span {
                color: $text-green;
            }
        }

        .intro__description {
            margin: 20px 0 40px;
            font-size: 0.875rem;
            line-height: 1.5;
            color: $text-grey;
        }
    }
}
