@media (min-width: 576px) {
    .header {
        .navbar-expand-lg .navbar-toggler {
            display: none;
        }

        .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-lg .navbar-nav {
            flex-direction: row;
        }

        .navbar-expand-lg .navbar-nav .nav-link {
            padding: 0;
        }

        .navbar-nav {
            column-gap: 60px;
        }

        .cart {
            position: static;
        }
    }

    h1 {
        font-size: 2.25rem;
    }

    .intro {
        .row {
            .intro__description {
                margin: 10px 0;
                font-size: 1rem;
            }
        }
    }

    .baton {
        padding-left: 40px;
        padding-right: 40px;
    }

    .collection {
        .content {
            img {
                width: 8.6805vw;
                max-width: 60px;
            }
        }
    }

    .team {
        .team__description {
            .team__photos {
                gap: 1.875rem;
            }
        }
    }

    .footer {
        .footer-row {
            justify-content: space-between;
        }

        .contact {
            flex-direction: row;
            margin-top: auto;

            >* {
                text-align: left;
            }
        }

        .footer__links>* {
            text-align: left;
        }
    }
}

@media (min-width: 768px) {
    .header .row {
        min-height: 100px;

        .logo {
            border-bottom: none;
        }
    }

    .intro {
        margin-top: 0;

        .row {
            column-gap: 0;

            img {
                width: 100%;
            }

            .intro__description {
                margin: 20px 0 40px;
                font-size: 1.125rem;
            }
        }
    }

    h1 {
        font-size: 2.5rem;
    }

    .baton {
        font-size: 1.25rem;
        padding: 18px 50px;
    }

    .title-row {
        margin: 0 0 30px;
    }

    h2 {
        font-size: clamp(1.875rem, 3.9vw, 2.5rem);
    }

    .catalog {
        margin-top: 70px;

        .catalog__filters.filters {
            .filters__item {
                font-size: 1.25rem;
            }
        }

        .product {

            .product__descriptions,
            .product__details {
                font-size: 1.125rem;
            }

            h3 {
                font-size: 1.875rem;
            }

            .product__price {
                font-size: 1.5rem;
            }
        }
    }

    .collection {
        padding: 70px 0;

        .content {
            margin-bottom: 30px;
            gap: 20px;

            img {
                width: 7.8125vw;
                max-width: 80px;
            }

            h3 {
                font-size: 1.875rem;
            }
        }

        p {
            font-size: 1.125rem;
            margin-bottom: 30px;
            line-height: 1.5;
        }
    }

    .team {
        .row {
            row-gap: 2.5rem;

            .team__description {
                p {
                    margin: 30px 0;
                    font-size: 1.125rem;
                    line-height: 1.5;
                }
            }
        }
    }

    .footer {
        .footer-row {
            >div:last-of-type {
                width: 160px;
            }
        }

        .socials {
            padding-top: 0;
            border: none;
            justify-content: space-between;
        }

        .copyright {
            text-align: left;
        }
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: clamp(2.625rem, 4.2vw, 3.75rem);
    }

    .intro {
        .row {
            .intro__description {
                margin-bottom: 60px;
            }
        }
    }

    .collection {
        .content {
            margin-bottom: 20px;

            h3 {
                font-size: clamp(1.875rem, 2.8vw, 2.5rem)
            }
        }

        p {
            margin-bottom: 0;
        }

        p:last-of-type {
            margin: 20px 0 60px;
        }
    }

    .team {
        .picture {
            img {
                width: 31vw;
                max-width: 445px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .container-lg {
        max-width: calc(1110px + var(--bs-gutter-x));
    }

    .team__description {
        padding-bottom: 44px;
    }

    .footer {
        .footer-row {
            column-gap: 3.75rem;
        }
    }
}

@media (max-width: 991.9px) {
    .container-fluid {
        padding: 0 5.5vw;
    }
}