.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f5;
  color: #2c2d35;
  font-size: 16px;
  line-height: 1.15;
}

button:focus:not(:focus-visible) {
  outline: none;
}

section {
  margin-top: 60px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 1.875rem;
  line-height: 1;
}

h2,
h3 {
  font-size: 1.5rem;
}

.baton {
  padding: 15px 30px;
  font-size: 1.125rem;
  color: #598d66;
  border: 1px solid #598d66;
  text-decoration: none;
}

.header {
  background: #e1ede6;
}
.header .row > * > * {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .row .logo {
  border-bottom: 1px solid #C3D1C6;
}
.header .navbar-nav {
  font-size: 1.125rem;
}
.header .navbar-toggler {
  border: none;
  max-height: 35px;
}
.header .navbar-toggler:focus {
  box-shadow: none;
}
.header .nav-link:hover {
  text-decoration: underline;
}
.header .cart {
  margin-left: 60px;
  position: absolute;
  right: 12px;
  top: 5px;
}

.intro .row {
  -moz-column-gap: 0.375rem;
       column-gap: 0.375rem;
}
.intro .row img {
  width: 34vw;
}
.intro .row h1 span {
  color: #598d66;
}
.intro .row .intro__description {
  margin: 20px 0 40px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #86928b;
}

.catalog .catalog__filters {
  margin: 20px 0;
}
.catalog .catalog__filters.flags {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.catalog .catalog__filters.flags .flags__item {
  border: none;
  background: none;
  width: 40px;
}
.catalog .catalog__filters.flags .flags__item img {
  width: 100%;
}
.catalog .catalog__filters.filters {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.catalog .catalog__filters.filters .filters__item {
  font-size: 1.125rem;
  padding: 10px 20px;
  color: #2c2d35;
  background: #d4e8d9;
  border-radius: 20px;
  border: none;
  transition: 0.3s;
}
.catalog .catalog__filters.filters .filters__item:hover, .catalog .catalog__filters.filters .filters__item.active {
  background: #376b44;
  color: #f4f6f5;
}
.catalog .catalog__list {
  flex-direction: column;
  row-gap: 30px;
}
.catalog .countries {
  display: none;
  row-gap: 30px;
}
.catalog .countries > * {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.catalog .show {
  display: flex;
}
.catalog .product {
  padding: 20px 20px 30px;
  background: #e1ede6;
  flex-grow: 1;
  max-width: 370px;
}
.catalog .product .product__info {
  flex-grow: 1;
}
.catalog .product img {
  margin-bottom: 20px;
  width: 100%;
}
.catalog .product .product__descriptions {
  margin-bottom: 10px;
  color: #86928b;
}
.catalog .product h3 {
  margin-bottom: 8px;
}
.catalog .product .product__details {
  margin-bottom: 10px;
  flex-grow: 1;
}
.catalog .product .product__price {
  margin-bottom: 20px;
  font-size: 1.25rem;
  color: #598d66;
}

.collection {
  background-image: url("../../img/bg.png");
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}
.collection .content {
  margin-bottom: 30px;
  gap: 20px;
}
.collection .content img {
  width: 50px;
}
.collection .content h3 {
  color: #f4f6f5;
}
.collection p {
  margin-bottom: 20px;
  color: #FFF;
  line-height: 1.4;
}
.collection a {
  background: #EEDB6D;
  border: #EEDB6D;
  color: #2c2d35;
  max-width: 300px;
  margin: 0 auto;
}

.team {
  margin-bottom: 50px;
}
.team .row {
  row-gap: 1.875rem;
}
.team .picture img {
  width: 100%;
  max-width: 320px;
}
.team .team__description p {
  margin: 20px 0;
  line-height: 1.4;
}
.team .team__description .team__photos {
  gap: 1.5rem;
}

.footer {
  padding: 20px 0;
  background: #e1ede6;
}
.footer .footer-row {
  justify-content: center;
  row-gap: 1.25rem;
}
.footer .contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
  margin-top: -9px;
}
.footer .contact > * {
  text-align: center;
}
.footer .contact img {
  width: 100%;
  max-width: 136px;
}
.footer .contact p:last-child {
  margin-top: 8px;
  color: #86928b;
  line-height: 1.5;
}
.footer .footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
.footer .footer__links > * {
  text-align: center;
}
.footer .footer__links p {
  font-size: 1.25rem;
}
.footer .footer__links a {
  text-decoration: none;
  color: #86928b;
  line-height: 1.5;
}
.footer .socials {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid #C3D1C6;
}
.footer .socials img {
  width: 20px;
}
.footer .copyright {
  color: #86928b;
  font-size: 0.75rem;
  text-align: center;
}

@media (min-width: 576px) {
  .header .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .header .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .header .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }
  .header .navbar-nav {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .header .cart {
    position: static;
  }
  h1 {
    font-size: 2.25rem;
  }
  .intro .row .intro__description {
    margin: 10px 0;
    font-size: 1rem;
  }
  .baton {
    padding-left: 40px;
    padding-right: 40px;
  }
  .collection .content img {
    width: 8.6805vw;
    max-width: 60px;
  }
  .team .team__description .team__photos {
    gap: 1.875rem;
  }
  .footer .footer-row {
    justify-content: space-between;
  }
  .footer .contact {
    flex-direction: row;
    margin-top: auto;
  }
  .footer .contact > * {
    text-align: left;
  }
  .footer .footer__links > * {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .header .row {
    min-height: 100px;
  }
  .header .row .logo {
    border-bottom: none;
  }
  .intro {
    margin-top: 0;
  }
  .intro .row {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .intro .row img {
    width: 100%;
  }
  .intro .row .intro__description {
    margin: 20px 0 40px;
    font-size: 1.125rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .baton {
    font-size: 1.25rem;
    padding: 18px 50px;
  }
  .title-row {
    margin: 0 0 30px;
  }
  h2 {
    font-size: clamp(1.875rem, 3.9vw, 2.5rem);
  }
  .catalog {
    margin-top: 70px;
  }
  .catalog .catalog__filters.filters .filters__item {
    font-size: 1.25rem;
  }
  .catalog .product .product__descriptions,
  .catalog .product .product__details {
    font-size: 1.125rem;
  }
  .catalog .product h3 {
    font-size: 1.875rem;
  }
  .catalog .product .product__price {
    font-size: 1.5rem;
  }
  .collection {
    padding: 70px 0;
  }
  .collection .content {
    margin-bottom: 30px;
    gap: 20px;
  }
  .collection .content img {
    width: 7.8125vw;
    max-width: 80px;
  }
  .collection .content h3 {
    font-size: 1.875rem;
  }
  .collection p {
    font-size: 1.125rem;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  .team .row {
    row-gap: 2.5rem;
  }
  .team .row .team__description p {
    margin: 30px 0;
    font-size: 1.125rem;
    line-height: 1.5;
  }
  .footer .footer-row > div:last-of-type {
    width: 160px;
  }
  .footer .socials {
    padding-top: 0;
    border: none;
    justify-content: space-between;
  }
  .footer .copyright {
    text-align: left;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: clamp(2.625rem, 4.2vw, 3.75rem);
  }
  .intro .row .intro__description {
    margin-bottom: 60px;
  }
  .collection .content {
    margin-bottom: 20px;
  }
  .collection .content h3 {
    font-size: clamp(1.875rem, 2.8vw, 2.5rem);
  }
  .collection p {
    margin-bottom: 0;
  }
  .collection p:last-of-type {
    margin: 20px 0 60px;
  }
  .team .picture img {
    width: 31vw;
    max-width: 445px;
  }
}
@media (min-width: 1200px) {
  .container-lg {
    max-width: calc(1110px + var(--bs-gutter-x));
  }
  .team__description {
    padding-bottom: 44px;
  }
  .footer .footer-row {
    -moz-column-gap: 3.75rem;
         column-gap: 3.75rem;
  }
}
@media (max-width: 991.9px) {
  .container-fluid {
    padding: 0 5.5vw;
  }
}/*# sourceMappingURL=style.css.map */